@import 'colors';
@import 'fonts';

html {
	// prevent 300ms touch delay on some devices
	touch-action: manipulation;
}

body {
	font-family: $body-font-stack;
	font-size: 62.5%;
	line-height: 1.55;

	color: $primary-text-color;
	background-color: $primary-bg-color;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

a {
	color: $primary-link-color;
	text-decoration: none;
	transition: color .3s ease-in-out;

	&:hover, &:active {
		text-decoration: underline;
		color: $primary-link-color;
	}

	&.imagelink:hover {
		border: none;
		&:before, &:after {
			display: none;
		}
	}
}

h1, h2, h3, h4 {
	font-family: $heading-font-stack;
}
h1 {
	letter-spacing: -0.02rem;
}

h2 {
	font-size: 1.8rem;
	letter-spacing: -0.04rem;
	margin: 0.4rem 0;
}

p {
	font-size: 0.8rem;
	margin: 0.4rem 0;
}