@import 'colors';
@import 'media';

.article {
	p {
		line-height: 1.8;
		margin-bottom: 1.5rem;
	}
	img {
		max-width: 100%;
		
	}

	blockquote, blockquote p {
		font-size: 0.8rem;
		font-weight: 300;
		font-style: italic;
		color: $secondary-text-color-light;
		line-height: 1.5;

		@include md {
			font-size: 1.4rem;
		}
	}

	h1 {
		font-size: 2rem;
		line-height: 1.2;
		font-weight: 700;
	}

	h2, h3 {
		font-size: 1rem;
	}

	.gallery-grid {
		img {
			margin: 8px 0;
		}
	}
}
