@import 'colors.scss';

.btn {

  text-align: center;
  position: relative;
  overflow: hidden;
  width: 7rem;
  margin: 1rem 0;
  border: 2px solid $primary-link-color;


  &:hover {
    cursor: pointer;
    border-color: $primary-link-color;

    a {
      color: white;
    }
    &:after {
      width: 120%;
      left: -10%;
    }
  }

  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: -2px;
    background-color: $primary-link-color;
    height: 114%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }

  a {
    color: $primary-link-color;;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 0.4rem 0.2rem 0.4rem;
    // padding-left: 0.2rem;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;

    &:hover {
      font-weight: 500;
      text-decoration: none;
      border: 0;
    }

  }

}