$primary-bg-color: #ffffff;


$logo-color-light: rgb(4, 28, 154);
$logo-color-dark: rgb(250,250,250);

$primary-text-color: rgb(40,40,40);
$primary-text-color-light: rgb(40,40,40);
$primary-text-color-dark: rgb(230,230,230);
$primary-link-color: rgb(16, 20, 233);
$secondary-text-color-light: rgb(200,200,200);

$nav-link-color-light: rgb(60,60,60);
$nav-link-highlight: rgb(100,100,100);
$nav-link-color-dark: rgb(255,255,255);
$xs-nav-bg-color: rgb(4, 28, 154);
$xs-nav-link-color: rgb(255,255,255);

$intro-bg-color: #e5e6ea;
$intro-bg-color: #ffffff;
$secondary-text-color: rgb(4, 28, 154);

