.coming-soon {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 5rem);
  font-size: 3rem;
  letter-spacing: -0.1rem;
  line-height: 1;
  color: rgb(16, 20, 233);
  text-align: center;
}