@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,700|Open+Sans:100,300,400');

$body-font-stack: 'Open Sans', Helvetica, Arial, sans-serif;
$heading-font-stack: 'Hind', Helvetica, Arial, sans-serif;