@import 'fonts.scss';
@import 'colors.scss';
@import 'media.scss';

.intro {
	overflow: hidden;
	position: relative;
	margin-bottom: 6rem;

	background: url('/img/profile_laugh.jpg') no-repeat;
	background-size: auto 100%;
	background-position: right center;
	background-color: $intro-bg-color;
	transition: all 0.4s;

	.overlay {
		z-index: 1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgb(4, 28, 154);
		opacity: 0.8;
		transition: opacity 0.5s ease-out;

		@include md {
			opacity: 0;
		}
	}

	p {
		position: relative;
		z-index: 2;
		font-family: $body-font-stack;
		font-weight: 300;
		font-size: 1rem;
		padding: 4rem 0;
		color: $primary-text-color-dark;
		transition: opacity 0.5s ease-out;

		@include md {
			font-size: 1.8rem;

			color: $secondary-text-color;
			
		}
	}
}