@import 'colors';
@import 'fonts';
@import 'media';

.logo {

  margin: 1.4rem 0;
  padding: 0.2rem 0 0;
  font-family: $heading-font-stack;
  font-size: 1.38rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 100;

  @include md {
    font-size: 1rem;
    margin: 0;
    line-height: 1;
    padding: 1rem 0 0.8rem;
  }

  a {
    color: $logo-color-dark;
    

    &:hover {
      text-decoration: none;
      color: $logo-color-dark;
    }

    @include md {
      color: $logo-color-dark;
    }
  }
}