@import 'colors.scss';

h1 {
  margin: 0;
  font-size: 1.4rem;
  letter-spacing: 1;
}

.glitch {
  position: relative;
  width: 100%;
  z-index: 100;
  /*overflow: auto;*/
}

.glitch .text {
  -webkit-animation: jerkwhole 7s infinite;
  /*position: relative;*/
  padding: 0;
  margin: 0;
}


.glitch span {
  position: absolute;
  color: $logo-color;
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1;
  text-align: center;
  left: 0;

  &:nth-child(1) {
    color: $logo-color;
    -webkit-animation: blur 30ms infinite, jerk 50ms infinite;
  }

  &:nth-child(2) {
    color: $logo-color;
    margin-left: 0px;
  }

  &:nth-child(3) {
    color: $logo-color;
    margin-left: 0px;
    margin-top: 0px;
    -webkit-filter: blur(1px);
    -webkit-animation: jerkblue .5s infinite;
  }

}


@keyframes blur {
  0% {
    -webkit-filter: blur(3px);
    opacity: 0.4;
  }
  50% {
    -webkit-filter: blur(18px);
    opacity: 1;
  }
  100% {
    -webkit-filter: blur(4px);
    opacity: 0.6;
  }
}
@keyframes jerk {
  50% {
    left: 0.02em;
  }
  51% {
    left: 0;
  }
}
@keyframes jerkup {
  50% {
    top: 2px;
  }
  51% {
    top: 0;
  }
}
@keyframes jerkblue {
  0% {
    left: 0;
  }
  30% {
    left: 0;
  }
  31% {
    left: 2px;
  }
  32% {
    left: 0;
  }
  98% {
    left: 0;
  }
  100% {
    left: 2px;
  }
}
@keyframes jerkgreen {
  0% {
    left: 0;
  }
  30% {
    left: 0;
  }
  31% {
    left: -2px;
  }
  32% {
    left: 0;
  }
  98% {
    left: 0;
  }
  100% {
    left: 1px;
  }
}
@keyframes jerkwhole {
  40% {
    opacity: 1;
    top: 0;
    /*left: 0px;*/
    -webkit-transform: scale(1, 1);
    -webkit-transform: skew(0, 0);
  }
  40.25% {
    opacity: 0.8;
    top: 0px;
    /*left: -50px;*/
    -webkit-transform: scale(1, 1.2);
    -webkit-transform: skew(10deg, 0);
  }
  40.75% {
    opacity: 0.8;
    top: 0px;
    /*left: 2em;*/
    -webkit-transform: scale(1, 1.2);
    -webkit-transform: skew(-5deg, 0);
  }
  41% {
    opacity: 1;
    top: 0;
    /*left: 0;*/
    -webkit-transform: scale(1, 1);
    -webkit-transform: skew(0, 0);
  }
}