// max-width: 575px
$xs-width: 575px;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;


@mixin xs {
	@media (max-width: #{$xs-width}) {
		@content;
	}
}

@mixin sm {
	@media only screen and (min-width: #{$sm-width}) {
		@content;
	}
}

@mixin md {
	@media only screen and (min-width: #{$md-width}) {
		@content;
	}

}

@mixin lg {
	@media only screen and (min-width: #{$lg-width}) {
		@content;
	}
}

@mixin xl {
	@media only screen and (min-width: #{$xl-width}) {
		@content;
	}
}
