@import 'colors.scss';
@import 'media';

body {
	// overflow-x: hidden;
}
nav {
	vertical-align: middle;

	.navigation {
		text-align: right;
		height: 100%;
		position: absolute;
		top: 0;

		padding: 4rem 0 0;
		margin: 0;
		z-index: 100;
		left: -300px;
		list-style: none;
		background-color: $xs-nav-bg-color;

		li {
			text-align: center;
			display: block;
			margin: 0;
			padding: 0;
			text-decoration: none;
			opacity: 0;

			a {
				display: inline-block;
				overflow: hidden;
				position: relative;
				font-size: 2rem;
				color: $xs-nav-link-color;


				&:before {
					box-sizing: border-box;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 0.1em;
					background: $primary-link-color;
					transform:  translateX(-104%);
				}

				&:before, &:after {
					content: '';
					position: absolute;
					transition: transform .2s ease-in-out;
					background-color: $xs-nav-link-color
				}

				&:hover {
					color: $xs-nav-link-color;
					text-decoration: none;
				}

				&:hover:before {
					transform:  translateX(0);
				}

				&:hover:before, &:hover:after { 
					background-color: $xs-nav-link-color;
				}

				@include md {
					line-height: 1;
					padding: 1rem 0 0.3rem;
					color: $nav-link-color-dark;
					font-size: 0.7rem;
					// margin: 1rem 0;

						&:hover {
							color: $nav-link-color-dark;

						&:hover:before, &:hover:after { 
							background-color: $nav-link-color-dark;
						}
					}
				}
			}

			@include md {
				opacity: 1;
				text-align: right;
				display: inline;
				padding-left: 1rem;

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}

	.nav-trigger {

		position: absolute;
		clip: rect(0, 0, 0, 0);
	}

	label[for="nav-trigger"] {
		position: fixed;
		right: 0.8rem;
		top: 0.8rem;
		z-index: 101;
		height: 1rem;
		width: 1rem;
		border-radius: 50% 50%;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		padding: 1rem;
		background-color: rgb(4, 28, 154);
	}
	label[for="nav-trigger"]::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: 9%;
		height: 80%;
		left: calc(50% - (9%/2));
		top: 10%;
		background-color: white;
	}

	label[for="nav-trigger"]::after {
		content: '';
		position: absolute;
		left: 10%;
		width: 80%;
		right: 0;
		height: 9%;
		top: calc(50% - (9%/2));
		background-color: white;
	}

	.navigation {
		display: block;
		transition: width 0.4s, left 0.4s;

		li {
			transition: opacity 0.4s ease-in-out 0.2s;
		}
	}
	.nav-trigger:checked + label {
		transform: rotate(45deg);
	}

	.nav-trigger:checked ~ .navigation {
		left: 0;
		width: 100%;

		li {
			opacity: 1;
		}
	}

	@include md {
		.nav-trigger + label {
			display: none;
		}
		.navigation {
			padding: 0;
			position: relative;
			left: 0;
			width: 100%;
			height: auto;
			background: transparent;

		}
	}
}



